<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dietideals24">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.DietiDeals24"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NotificaActivity"
            android:exported="false" />
        <activity
            android:name=".ProfiloActivity"
            android:exported="false" />
        <activity
            android:name=".CercaAstaActivity"
            android:exported="false" />
        <activity
            android:name=".CreaAstaActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/border_background" />

        <activity
            android:name=".SceltaAccountActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrazioneActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>